---
---
  
@import "{{ site.theme }}";

header {
  padding: 25px 20px 40px 20px;
  margin: 0;
  position: fixed;
  top: 0;
  left:0;
  right:0;
  width: 100%;
  text-align: center;
  background: url(../images/soc_icon_long.jpg) center center no-repeat #81e7f0;
  box-shadow: 1px 0px 2px rgba(0,0,0,.75);
  z-index:99;
  -webkit-font-smoothing:antialiased;
  min-height: 76px;

  h1 {
    font: 40px/48px 'Copse', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #f3f3f3;
    text-shadow: 0px 2px 0px #235796;
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
  }
  
  p {
    color: #d8d8d8;
    text-shadow:rgba(#000, 0.2) 0 1px 0;
    font-size: 18px;
    margin: 0px;
  }
}

  p {
    //color: auto;
    //text-shadow:rgba(#000, 0.2) 0 1px 0;
    font-size: large;
    margin: 2%;
  }

#banner {
    z-index: 100;
    left: 0;
    right: 50%;
    height: 50px;
    margin-right: -382px;
    position: fixed;
    top: 115px;
    background: #81e7f0;
    border: 1px solid #81e7f0;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
    border-radius: 0px 2px 2px 0px;
    padding-right: 10px;
}

section {
    width: 120%;
    padding: 30px 30px 50px 30px;
    margin: 20px 0;
    margin-top: 190px;
    position: relative;
    background: #fbfbfb;
    border-radius: 10px;
    border: 1px solid #cbcbcb;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.09),inset 0px 0px 2px 2px rgba(255,255,255,0.5),inset 0 0 5px 5px rgba(255,255,255,0.4);
}

/* TODO: check all device
nav {
    width: 230px;
    position: fixed;
    top: 220px;
    left: 80%;
    text-align: left;
}

footer {
    width: 180px;
    position: fixed;
    left: 82%;
    bottom: 20px;
    text-align: left;
    line-height: 16px;
}
*/
